doctype html
html
  head
    title Deepak Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul 
            div#logo 
                img(src="/static/img/1.png")
                | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About ]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
    block content
    block foot
    footer#footer 
        | Copyright © 2019 DeepakDanceAcademy.com All rights | reserved

  